<header class="jumbotron jumbotron-fluid text-center">
  <div class="container">
    <h1 class="display-4">Welcome to MoviesCom</h1>
    <p class="lead">Discover the latest and greatest Movies!</p>
    <div class="centered-container" style="max-width: 600px;">
      <input type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" style="background-color: white; border-color: #ccc; width: 70%;" [(ngModel)]="setSearchValue" />
      <button type="button" class="btn btn-outline-primary" style="color: #fff; background-color: #007bff; border-color: #007bff; width: 30%;">Search</button>
    </div>
  </div>
  </header>
